	<script src="/bower_components/angular/angular.min.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/bower_components/angular-route/angular-route.min.js"></script>
	<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="scripts/angular/app.js"></script>
	<script src="scripts/angular/controllers.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js">
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js">
  </body>
</html>
