<!DOCTYPE html>
<html lang="zh-CN">
  <head>
	<meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-app="app">
