<% include header.ejs %>
<form class="form-inline" role="form">
<div class="form-group">
<h1>Welcome <%= user.username %>, 欢迎登陆！！</h1>
<a claa="btn" href="/logout">退出</a>
<hr/>
<!--
<input type="text" class="form-control" ng-model="username" placeholder="Enter email">
-->
</dir>
</form>
<% include footer.ejs %>
